<section class="p-2">
  <p class="heading-1 mb-2">
    form model
  </p>

  <div class="text-content">


    <br>
  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      <span>
        Import the FormGroup, FormControl, and Validators classes from @angular/forms:
      </span>

      <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code1 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_1"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Create a new instance of FormGroup, passing in an object that defines the form model:
      </span>

      <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code2 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_2"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Bind the FormGroup to your template using the formGroup directive:
      </span>

      <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code3 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_3"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Bind each form control to your template using the formControlName directive:
      </span>

      <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code4 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_4"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Add a submit button to your form:
      </span>

      <button (click)="code5.hidden = !code5.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code5 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_5"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Handle form submissions:
      </span>

      <button (click)="code6.hidden = !code6.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code6 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_6"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Accessing form control values:
      </span>

      <button (click)="code7.hidden = !code7.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code7 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_7"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Setting form control values:
      </span>

      <button (click)="code8.hidden = !code8.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code8 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_8"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Resetting a form:
      </span>

      <button (click)="code9.hidden = !code9.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code9 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_9"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
    </li>

    <li>
      <span>
        Handling form errors:
      </span>

      <button (click)="code10.hidden = !code10.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code10 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_10"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Importing the necessary modules:
      </span>

      <button (click)="code11.hidden = !code11.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code11 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_11"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Creating a form group:
      </span>

      <button (click)="code12.hidden = !code12.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code12 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_12"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Binding form controls to HTML elements:
      </span>

      <button (click)="code13.hidden = !code13.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code13 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_13"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Adding form validation messages:
      </span>

      <button (click)="code14.hidden = !code14.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code14 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_14"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Disabling the submit button until the form is valid:
      </span>

      <button (click)="code15.hidden = !code15.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code15 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_15"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>

    <li>
      <span>
        Submitting the form data:
      </span>

      <button (click)="code16.hidden = !code16.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code16 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_16"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

    </li>


  </ol>


  </div>




</section>
