<section class="p-2">
  <p class="heading-1 mb-2">
    binding
  </p>

  <div class="text-content">
    <p>
      Generally, the practice of setting a variable or property to a data value. Within Angular, typically refers to <a href="">data binding</a>, which coordinates DOM object properties with data object properties.
    </p>

    <br>

    <p>
      Sometimes refers to a <a href="">dependency-injection</a> binding between a <a href="">token</a> and a dependency <a href="">provider</a>.
    </p>
  </div>
</section>


