<section class="p-2">
  <p class="heading-1 mb-2">
    form control
  </p>

  <div class="text-content">



    <div>

      <button (click)="code22.hidden = !code22.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code22 copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_22"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>
    </div>


    <br>
    <br>

    <ol class="list-decimal px-10 text-sm">


      <li>
        <span>Importing FormControl</span>

        <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code1 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_1"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Creating a FormControl</span>

        <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code2 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_2"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Setting an initial value for a FormControl</span>

        <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code3 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_3"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Updating the value of a FormControl</span>

        <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code4 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_4"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Updating the value of a FormControl without emitting a value change event</span>

        <button (click)="code5.hidden = !code5.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code5 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_5"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Subscribing to value changes of a FormControl</span>

        <button (click)="code6.hidden = !code6.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code6 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_6"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Subscribing to status changes of a FormControl</span>

        <button (click)="code7.hidden = !code7.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code7 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_7"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Setting validators for a FormControl</span>

        <button (click)="code8.hidden = !code8.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code8 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_8"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Setting multiple validators for a FormControl</span>

        <button (click)="code9.hidden = !code9.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code9 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_9"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Adding a validator to a FormControl dynamically</span>

        <button (click)="code10.hidden = !code10.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code10 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_10"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Disabling a FormControl</span>

        <button (click)="code11.hidden = !code11.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code11 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_11"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Enabling a FormControl</span>

        <button (click)="code12.hidden = !code12.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code12 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_12"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Checking if a FormControl is disabled</span>

        <button (click)="code13.hidden = !code13.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code13 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_13"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Marking a FormControl as touched</span>

        <button (click)="code14.hidden = !code14.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code14 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_14"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Marking a FormControl as untouched</span>

        <button (click)="code15.hidden = !code15.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code15 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_15"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Checking if a FormControl is touched</span>

        <button (click)="code16.hidden = !code16.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code16 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_16"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Marking a FormControl as dirty</span>

        <button (click)="code17.hidden = !code17.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code17 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_17"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Marking a FormControl as pristine</span>

        <button (click)="code18.hidden = !code18.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code18 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_18"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Checking if a FormControl is dirty</span>

        <button (click)="code19.hidden = !code19.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code19 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_19"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Resetting a FormControl</span>

        <button (click)="code20.hidden = !code20.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code20 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_20"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

      <li>
        <span>Resetting a FormControl with a new value</span>

        <button (click)="code21.hidden = !code21.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code21 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_21"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>
      </li>

    </ol>




  </div>
</section>
