<section class="p-2">
  <p class="heading-1 mb-2">
    case types
  </p>

  <div class="text-content">
    <p>
      Angular uses capitalization conventions to distinguish the names of various types, as described in the <a href="">naming guidelines section</a> of the Style Guide. Here is a summary of the case types:
    </p>

    <br>

    <div class="">
      <table class="w-fit divide-gray-200">
        <thead class="bg-gray-800">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-800 sm:pl-6"></th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200">Details</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200">Example</th>

          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-gray-800">
          <tr>
            <td class="py-4 pl-4 pr-3 text-sm font-medium text-rose-400 sm:pl-6">
              camelCase
            </td>
            <td class=" px-3 py-4 text-sm text-gray-400">
              Symbols, properties, methods, pipe names, non-component directive selectors, constants.
              <br>
              Standard or lower camel case uses lowercase on the first letter of the item.
            </td>
            <td class=" px-3 py-4 text-sm text-gray-200">
              <code>selectedHero</code>
            </td>
          </tr>

          <tr>
            <td class="py-4 pl-4 pr-3 text-sm font-medium text-rose-400 sm:pl-6">
              UpperCamelCase
              <br>
              PascalCase
            </td>
            <td class=" px-3 py-4 text-sm text-gray-400">
              Class names, including classes that define components, interfaces, NgModules, directives, and pipes.
              <br>
              Upper camel case uses uppercase on the first letter of the item.
            </td>
            <td class=" px-3 py-4 text-sm text-gray-200">
              <code>HeroComponent</code>
            </td>
          </tr>

          <tr>
            <td class="py-4 pl-4 pr-3 text-sm font-medium text-rose-400 sm:pl-6">
              dash-case
              <br>
              kebab-case
            </td>
            <td class=" px-3 py-4 text-sm text-gray-400">
              Descriptive part of file names, component selectors.
            </td>
            <td class=" px-3 py-4 text-sm text-gray-200">
              <code>app-hero-list</code>
            </td>
          </tr>

          <tr>
            <td class="py-4 pl-4 pr-3 text-sm font-medium text-rose-400 sm:pl-6">
              underscore_case
              <br>
              snake_case
            </td>
            <td class=" px-3 py-4 text-sm text-gray-400">
              Not typically used in Angular.
              <br>
              Snake case uses words connected with underscores.
            </td>
            <td class=" px-3 py-4 text-sm text-gray-200">
              <code>convert_link_mode</code>
            </td>
          </tr>

          <tr>
            <td class="py-4 pl-4 pr-3 text-sm font-medium text-rose-400 sm:pl-6">
              UPPER_UNDERSCORE_CASE
              <br>
              UPPER_SNAKE_CASE
              <br>
              SCREAMING_SNAKE_CASE
            </td>
            <td class=" px-3 py-4 text-sm text-gray-400">
              Traditional for constants.
              <br>
              This case is acceptable, but camelCase is preferred.
              <br>
              Upper snake case uses words in all capital letters connected with underscores.
            </td>
            <td class=" px-3 py-4 text-sm text-gray-200">
              <code>FIX_ME</code>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</section>


