<section class="p-2">
  <p class="heading-1 mb-2">
    form validation
  </p>

  <div class="text-content">


    <br>
    <br>


    <ol class="list-decimal px-10 text-sm">
      <li>
        <span>
          Importing Required Modules

          <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code1 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_1"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

        </span>
      </li>
      <li>
        <span>
          Creating a Form Group

          <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code2 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_2"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

        </span>
      </li>
      <li>
        <span>
          Custom Validators
        </span>

        <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code3 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_3_1"
              [languages]="['typescript']">
            </code>
          </pre>


          <span copyToClipboard>
            <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
              <span>typescript</span>
              <span class="copy-button-wrapper bg-gray-700"></span>
            </div>

            <pre>
              <code
                [highlight]="code_3_2"
                [languages]="['typescript']">
              </code>
            </pre>
          </span>


        </span>

      </li>
      <li>
        <span>
          Displaying Validation Errors
        </span>

        <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code4 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_4"
              [languages]="['html']">
            </code>
          </pre>
        </span>

      </li>
      <li>
        <span>
          Disabling Form Controls

          <button (click)="code5.hidden = !code5.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code5 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_5"
              [languages]="['html']">
            </code>
          </pre>
        </span>

        </span>
      </li>
      <li>
        <span>
          Submitting a Form
        </span>

        <button (click)="code6.hidden = !code6.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code6 copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_6"
              [languages]="['html']">
            </code>
          </pre>
        </span>
      </li>
    </ol>


  </div>




</section>
