<section class="p-2">
  <p class="heading-1 mb-2">
    subscriber
  </p>

  <div class="text-content">
    <p>
    </p>

    <br>

    <div class="flex flex-col">
      <div class="flex border-b border-gray-200">
        <button  (click)="selectedTab = 1" [class.text-rose-300]="selectedTab===1" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Notes
        </button>
        <button  (click)="selectedTab = 2" [class.text-rose-300]="selectedTab===2" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Pros and Cons
        </button>
        <button  (click)="selectedTab = 3" [class.text-rose-300]="selectedTab===3" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Related Topics
        </button>
      </div>
      <div class="p-4">
        <ng-container [ngSwitch]="selectedTab">
          <div *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="prosConsRef;"></ng-container>
          </div>
          <div *ngSwitchCase="3">
            <ng-container *ngTemplateOutlet="topicsRef"></ng-container>
          </div>
          <div *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="notesRef"></ng-container>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</section>


<ng-template #notesRef>
  <p>
  </p>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      Creating a Subscriber

      <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code1 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_1"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      Unsubscribing from a Subscriber

      <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code2 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_2"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      Checking if a Subscriber is Unsubscribed

      <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code3 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_3"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      Using AsyncPipe to Subscribe to an Observable

      <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code4 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_4"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      Using Operators with Subscribers

      <button (click)="code5.hidden = !code5.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code5 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_5"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
  </ol>

  <br>

  <p>

  </p>
</ng-template>




<ng-template #prosConsRef>
  <strong class="text-sky-400">
    Pros:
  </strong>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      Subscribers provide a simple way to handle asynchronous data in Angular applications, making it easy to subscribe to Observables and handle emitted values.
    </li>
    <li>
      Subscribers can be used to filter and manipulate data emitted by Observables using operators, which allows for more flexible and efficient handling of data streams.
    </li>
    <li>
      Angular Subscribers support the use of the async pipe, which simplifies template syntax and reduces the need for manual subscription and unsubscription.
    </li>
    <li>
      Subscribers can be used to manage memory effectively by unsubscribing from Observables in the ngOnDestroy lifecycle hook.
    </li>
  </ol>

  <br>

  <strong class="text-sky-400">
    Cons:
  </strong>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      Subscribers can be prone to memory leaks if not properly managed, which can result in performance issues and crashes.
    </li>
    <li>
      The use of Subscribers can lead to verbose and complex code if not properly structured, especially when working with multiple Observables and Subscribers.
    </li>
    <li>
      Subscribers can be overused, which can result in unnecessary processing and data duplication.
    </li>
  </ol>


  <br>

  <p>
    Overall, Angular Subscribers are a powerful tool for handling asynchronous data in Angular applications. However, it is important to use them judiciously and follow best practices to ensure that they are used effectively and do not lead to performance issues or memory leaks.
  </p>

  </ng-template>





  <ng-template #topicsRef>
    <p>
      Some related topics to Angular Subscribers:
    </p>

    <br>

    <ol class="list-decimal px-10 text-sm">
      <li>
        <strong>Observables</strong>
        <p>
          Angular Subscribers are used to subscribe to Observables, which are a way to represent asynchronous data streams. Observables allow you to easily handle asynchronous data in your Angular applications.
        </p>
      </li>
      <li>
        <strong>Reactive programming</strong>
        <p>
          Reactive programming is a programming paradigm that emphasizes the use of Observables and Subscribers to handle asynchronous data. Reactive programming is becoming more popular in modern web development, and Angular has embraced this approach with its support for Observables.
        </p>
      </li>
      <li>
        <strong>RxJS</strong>
        <p>
          RxJS is a library of reactive programming utilities that provides a wide range of functions and operators for working with Observables and Subscribers. Angular includes RxJS as a dependency, and it is used extensively throughout the Angular framework.
        </p>
      </li>
      <li>
        <strong>Memory management:</strong>
        <p>
          Proper memory management is important when working with Observables and Subscribers, as subscribing to an Observable creates a reference to it that can cause memory leaks if not properly managed. Angular provides lifecycle hooks and other tools to help manage memory when working with Subscribers.
        </p>
      </li>
      <li>
        <strong>Best practices</strong>
        <p>
          There are several best practices to keep in mind when working with Subscribers in Angular, such as using the async pipe when possible, unsubscribing from Subscribers in the ngOnDestroy lifecycle hook, and using operators to transform and manipulate Observables before subscribing to them.
        </p>
      </li>
    </ol>

    <br>

    <p>
      Understanding these related topics can help you work more effectively with Angular Subscribers and Observables, and create more efficient and maintainable Angular applications.
    </p>

  </ng-template>

