<section class="p-2">
  <p class="heading-1 mb-2">
    builder
  </p>

  <div class="text-content">
    <p>
      A function that uses the <a href="">Architect</a> API to perform a complex process such as <code>build</code> or <code>test</code>. The builder code is defined in an <a href="">npm package</a>.
    </p>

    <br>

    <p>
      For example, <a href="">BrowserBuilder</a> runs a <a href="">webpack</a> build for a browser target and <a href="">KarmaBuilder</a> starts the Karma server and runs a webpack build for unit tests.
    </p>

    <br>

    <p>
      The <code>ng run</code> Angular CLI command invokes a builder with a specific <a href="">target configuration</a>. The <a href="">workspace configuration</a> file, <code>angular.json</code>, contains default configurations for built-in builders.
    </p>

  </div>
</section>


