<section class="p-2">
  <p class="heading-1 mb-2">
    app-shell
  </p>

  <div class="text-content">
    <p>
      App shell is a way to render a portion of your application using a route at build time. This gives users a meaningful first paint of your application that appears quickly because the browser can render static HTML and CSS without the need to initialize JavaScript. To learn more, see <a>The App Shell Model</a>.
    </p>

    <br>

    <p>
      You can use the Angular CLI to <a>generate</a> an app shell. This can improve the user experience by quickly launching a static rendered page while the browser downloads the full client version and switches to it automatically after the code loads. A static rendered page is a skeleton common to all pages. To learn more, see <a>Service Worker and PWA</a>.


    </p>
  </div>
</section>


