<section class="p-2">
  <p class="heading-1 mb-2">
    lazy loading
  </p>

  <div class="text-content">
    <p>

    </p>


    <br>

    <div class="flex flex-col">
      <div class="flex border-b border-gray-200">
        <button  (click)="selectedTab = 1" [class.text-rose-300]="selectedTab===1" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Notes
        </button>
        <button  (click)="selectedTab = 2" [class.text-rose-300]="selectedTab===2" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Pros and Cons
        </button>
        <button  (click)="selectedTab = 3" [class.text-rose-300]="selectedTab===3" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Related Topics
        </button>
      </div>
      <div class="p-4">
        <ng-container [ngSwitch]="selectedTab">
          <div *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="prosConsRef;"></ng-container>
          </div>
          <div *ngSwitchCase="3">
            <ng-container *ngTemplateOutlet="topicsRef"></ng-container>
          </div>
          <div *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="notesRef"></ng-container>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</section>



<ng-template #notesRef>
  <p>
    Lazy Loading in Angular:
  </p>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      Lazy Loading Modules

      <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code1  copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_1"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>


    </li>
    <li>
      Lazy Loading Components

      <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code2  copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_2"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>


    </li>
    <li>
      Preloading Lazy-Loaded Modules

      <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code3  copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_3"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>


    </li>
  </ol>

  <br>

    <p>
      By understanding how to lazy load modules and components in Angular, you can improve the performance and scalability of your applications. Remember to refer to the official Angular documentation for more information and examples.
    </p>
  </ng-template>



  <ng-template #prosConsRef>
    <strong class="text-sky-400">
      Pros:
    </strong>

    <br>

    <ol class="list-decimal px-10 text-sm">
      <li>
        <strong>Faster Initial Loading Times</strong>:
        Lazy loading can significantly reduce the initial loading time of your application by only loading the modules that are needed for the current page or feature. This can improve the user experience, particularly on slower or unreliable network connections.
      </li>
      <li>
        <strong>Improved Performance</strong>:
        By reducing the amount of code that needs to be downloaded and compiled by the browser, lazy loading can improve the performance of your application, particularly on slower devices or network connections.
      </li>
      <li>
        <strong>Scalability</strong>:
        Lazy loading can improve the scalability of your application by allowing you to break it up into smaller, more manageable chunks. This can make it easier to maintain and update your application over time.
      </li>
      <li>
        <strong>Better Resource Utilization</strong>:
        Lazy loading can reduce the amount of memory and processing power needed by your application by only loading the modules that are needed for the current page or feature. This can improve the overall efficiency of your application and reduce its environmental impact.
      </li>
    </ol>

    <br>

    <strong class="text-sky-400">
      Cons:
    </strong>

    <br>

    <ol class="list-decimal px-10 text-sm">
      <li>
        <strong>Increased Complexity </strong>:
        Lazy loading can add complexity to your application, particularly if you have a large number of modules and routes. This can make it harder to maintain and debug your application over time.
      </li>
      <li>
        <strong>Potential for Bugs</strong>:
        Lazy loading can introduce potential bugs into your application, particularly if you have circular dependencies or dependencies that are loaded asynchronously. This can make it harder to debug and test your application over time.
      </li>
      <li>
        <strong>Additional Development Time</strong>:
        Lazy loading can require additional development time and effort, particularly if you have a large number of modules and routes. This can make it harder to deliver your application on time and within budget.
      </li>
      <li>
        <strong>Compatibility Issues</strong>:
        Lazy loading may not be compatible with all browsers and devices, particularly older ones. This can limit the reach of your application and reduce its overall effectiveness.
      </li>
    </ol>

    <br>

    <p>
    </p>

  </ng-template>




  <ng-template #topicsRef>
    <p>
      Related topics to lazy loading in Angular:
    </p>

    <br>

    <ol class="list-decimal px-10 text-sm">
      <li>
        <strong>Dynamic Imports</strong>:
        <p>
          Dynamic imports is a feature introduced in ECMAScript 6 that allows you to import modules asynchronously at runtime. This is useful when you need to load a module on demand, such as in lazy loading scenarios.
        </p>

        <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

        <span #code4  copyToClipboard>
          <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
            <span>typescript</span>
            <span class="copy-button-wrapper bg-gray-700"></span>
          </div>

          <pre>
            <code
              [highlight]="code_4"
              [languages]="['typescript']">
            </code>
          </pre>
        </span>

      </li>
      <li>
        <strong>Code Splitting</strong>:

        <p>
          Code splitting is a technique used to break up your code into smaller, more manageable chunks that can be loaded on demand. This is similar to lazy loading, but is more general and can be used outside of Angular.
        </p>

        <br>

        <p>
          There are several tools and libraries available for code splitting, including Webpack and Rollup. These tools allow you to define entry points in your application, and will automatically create separate bundles for each entry point.
        </p>
      </li>
      <li>
        <strong>Ahead-of-Time (AOT) Compilation</strong>:

        <p>
          Ahead-of-time (AOT) compilation is a technique used in Angular to precompile your application's templates and code into efficient JavaScript code that can be loaded and executed quickly by the browser.
        </p>

        <br>

        <p>
          AOT compilation can improve the performance of your application, particularly on slow or unreliable network connections. It is also required for certain features in Angular, such as server-side rendering.
        </p>
      </li>
      <li>
        <strong>Server-Side Rendering (SSR)</strong>:

        <p>
          Server-side rendering (SSR) is a technique used to render your application on the server before sending it to the client. This can improve the initial loading time of your application, particularly on slower devices or network connections.
        </p>

        <br>

        <p>
          To implement SSR in Angular, you need to use a compatible server-side rendering framework, such as Angular Universal. This framework allows you to render your Angular application on the server and send the resulting HTML to the client.
        </p>
      </li>
      </ol>



  <br>

  <p>
  </p>

</ng-template>
