<section class="p-2">
  <p class="heading-1 mb-2">
    structural directive
  </p>

  <div class="text-content">
    <p>
    </p>

    <br>

    <div class="flex flex-col">
      <div class="flex border-b border-gray-200">
        <button  (click)="selectedTab = 1" [class.text-rose-300]="selectedTab===1" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Notes
        </button>
        <button  (click)="selectedTab = 2" [class.text-rose-300]="selectedTab===2" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Pros and Cons
        </button>
        <button  (click)="selectedTab = 3" [class.text-rose-300]="selectedTab===3" class="text-sky-400 hover:text-rose-400 font-semibold py-2 px-4 border-b-2 border-transparent hover:border-gray-500 focus:outline-none">
          Related Topics
        </button>
      </div>
      <div class="p-4">
        <ng-container [ngSwitch]="selectedTab">
          <div *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="prosConsRef;"></ng-container>
          </div>
          <div *ngSwitchCase="3">
            <ng-container *ngTemplateOutlet="topicsRef"></ng-container>
          </div>
          <div *ngSwitchDefault>
            <ng-container *ngTemplateOutlet="notesRef"></ng-container>
          </div>
        </ng-container>

      </div>
    </div>

  </div>
</section>




<ng-template #notesRef>
  <p>
  </p>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      *ngIf

      <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code1 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_1"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor

      <button (click)="code2.hidden = !code2.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code2 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_2"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngSwitchCase and *ngSwitchDefault

      <button (click)="code3.hidden = !code3.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code3 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_3"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>


    </li>
    <li>
      *ngTemplateOutlet

      <button (click)="code4.hidden = !code4.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code4 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_4"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngIf with else

      <button (click)="code5.hidden = !code5.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code5 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_5"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor with trackBy

      <button (click)="code6.hidden = !code6.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code6 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_6"
            [languages]="['typescript']">
          </code>
        </pre>


        <!-- <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button> -->

      <span copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_6_1"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>


      </span>

    </li>
    <li>
      *ngFor with index and last

      <button (click)="code7.hidden = !code7.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code7 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_7"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor with ng-container

      <button (click)="code8.hidden = !code8.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code8 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_8"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor with starting index

      <button (click)="code9.hidden = !code9.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code9 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_9"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor with slice

      <button (click)="code10.hidden = !code10.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code10 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_10"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
    <li>
      *ngFor with groupBy

      <button (click)="code11.hidden = !code11.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code11 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_11"
            [languages]="['typescript']">
          </code>
        </pre>


        <!-- <button (click)="code1.hidden = !code1.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button> -->

      <span copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_11_1"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

      </span>

    </li>
    <li>
      *ngSwitch with ng-container

      <button (click)="code12.hidden = !code12.hidden" class="border border-rose-400 rounded-md px-1 text-sky-400">code</button>

      <span #code12 hidden copyToClipboard>
        <div class="flex flex-row justify-between items-center bg-gray-900 px-4 py-2 relative top-5">
          <span>typescript</span>
          <span class="copy-button-wrapper bg-gray-700"></span>
        </div>

        <pre>
          <code
            [highlight]="code_12"
            [languages]="['typescript']">
          </code>
        </pre>
      </span>

    </li>
  </ol>

  <br>

  <p>

  </p>

</ng-template>




<ng-template #prosConsRef>
  <strong class="text-sky-400">
    Pros:
  </strong>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      <strong>Flexibility</strong>
      <p>
        Structural directives are very flexible and allow you to create dynamic and complex templates that can adapt to different data and conditions.
      </p>
    </li>
    <li>
      <strong>Reusability</strong>
      <p>
        Structural directives can be reused across multiple components and templates, making it easy to maintain and modify them.
      </p>
    </li>
    <li>
      <strong>Improved performance</strong>
      <p>
        By using ngIf or ngSwitch to conditionally render elements, you can improve the performance of your application by reducing the number of elements in the DOM.
      </p>
    </li>
    <li>
      <strong>Better readability</strong>
      <p>
        By separating your code into smaller, more manageable templates, your code becomes easier to read and understand.
      </p>
    </li>
    <li>
      <strong>Consistent coding practices</strong>
      <p>
        Structural directives help enforce consistent coding practices across your team by providing a standard way of structuring and rendering templates.
      </p>
    </li>
  </ol>

  <br>

  <strong class="text-sky-400">
    Cons:
  </strong>

  <br>

  <ol class="list-decimal px-10 text-sm">
    <li>
      <strong>Complexity</strong>
      <p>
        With great flexibility comes increased complexity. Structural directives can be difficult to understand and manage, especially for developers who are new to Angular.
      </p>
    </li>
    <li>
      <strong>Performance overhead</strong>
      <p>
        Structural directives can introduce some performance overhead, especially when used incorrectly. It's important to understand how they work and use them in a way that doesn't negatively impact performance.
      </p>
    </li>
    <li>
      <strong>Debugging issues</strong>
      <p>
        When you have complex templates with many nested directives, it can be difficult to debug issues and find the source of problems.
      </p>
    </li>
    <li>
      <strong>Limited functionality</strong>
      <p>
        Although Angular's structural directives are very powerful, there are some limitations to what they can do. If you need more advanced functionality, you may need to use a custom directive or component.
      </p>
    </li>
  </ol>


  <br>

  <p>
    Overall, Angular's structural directives are a powerful tool that can help you create dynamic and flexible templates. However, they should be used judiciously and with a good understanding of their limitations and performance implications.
  </p>

  </ng-template>




  <ng-template #topicsRef>
    <p>
      Some related topics to Angular Structural Directives:
    </p>

    <br>

    <ol class="list-decimal px-10 text-sm">
      <li>
        <strong>Angular Template Syntax:</strong>
        <p>
          Structural directives are part of Angular's template syntax, which also includes attribute directives and interpolation.
        </p>
      </li>
      <li>
        <strong>Directives</strong>
        <p>
          Structural directives are one of three types of directives in Angular, along with attribute directives and component directives.
        </p>
      </li>
      <li>
        <strong>NgTemplateOutlet</strong>
        <p>
          The *ngTemplateOutlet directive is a commonly used structural directive in Angular that allows you to render templates dynamically.
        </p>
      </li>
      <li>
        <strong>NgIf</strong>
        <p>
          The *ngIf directive is another commonly used structural directive in Angular that adds or removes elements from the DOM based on a condition.
        </p>
      </li>
      <li>
        <strong>NgFor</strong>
        <p>
          The *ngFor directive is used to loop over a collection and create a template instance for each item.
        </p>
      </li>
      <li>
        <strong>NgSwitch</strong>
        <p>
          The *ngSwitch directive is used to conditionally render content based on a value.
        </p>
      </li>
      <li>
        <strong>TemplateRef</strong>
        <p>
          The TemplateRef class represents an Angular template that can be used to render content dynamically.
        </p>
      </li>
      <li>
        <strong>ViewContainerRef</strong>
        <p>
          The ViewContainerRef class represents a container where dynamic content can be added or removed.
        </p>
      </li>
      <li>
        <strong>Change Detection</strong>
        <p>
          Angular uses change detection to track changes in the component's data and update the view accordingly. Structural directives play a key role in this process.
        </p>
      </li>
      <li>
        <strong>NgTemplateOutletContext</strong>
        <p>
          The NgTemplateOutletContext interface is used to pass context data to a dynamically rendered template.
        </p>
      </li>
    </ol>


    <br>

    <p>

    </p>

  </ng-template>
